apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: game-data-pvc
  namespace: game-2048
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: standard-rwo # GKE standard block storage
  resources:
    requests:
      storage: 10Gi