apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: game-data-pvc
  namespace: game-2048
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: premium-rwo # GKE Autopilot requires premium-rwo
  resources:
    requests:
      storage: 10Gi